.profileImage {
  border-radius: 50%;
}

.profileImageContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 200px;
}

.name {
  display: flex;
  align-content: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

a {
  display: flex;
  align-content: center;
  justify-content: center;
}